/*  Style the universal selector * rule to set the default margin to zero, padding to zero, and the box-sizing to border-box. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #555;
    background: #000000;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 20px;
    font-size: 36px;
    color: red;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label {
    text-align: left;
    padding-right: 1rem;
    font-size: 18px;
    margin-top: 12px;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input [type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 40px 0;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgoldenrod;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}



